body{
	align-content: center;
	width: 100vw;
	height: 100vh;
	background-color: red;
	font-size: 10px;

}



#hour,
#minute,
#second{
	position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    
    background-color: white;
}
  
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    
    background-color: green;
}
  
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    background-color: blue;
}





