
body{
  width: 100%;
  height: auto;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: lightgreen;
  }
  100% {
    background-color: hotpink;
  }
}

html,
body {
  height: 100%;
}

.circle {
  transition: all 0.5s cubic-bezier(.48, 0.16, 0.42,1.25);
  width: 200px;
  height: 200px;
  border-radius: 60%;
  background-color: limegreen;
  position: absolute;
  left: 630px;
  top: 75px;
  
}

.circle:hover {
  width: 400px;
  height: 400px;
  background-color: yellow;
  position: absolute;
  left: 500px;
  top: 75px;
}


.rect{
  transform: rotate(90deg);
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  left: 180px;
  top: 80px;
  
}

.rect:hover {
  transform: rotate(45deg);
  background-color: pink;
}


.rect2{
  transform: rotate(90deg);
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  left: 380px;
  top: 80px;
  
}

.rect2:hover {
  transform: rotate(45deg);
  background-color: pink;
}


.rect3{
  transform: rotate(90deg);
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  left: 1080px;
  top: 80px;
  
}

.rect3:hover {
  transform: rotate(45deg);
  background-color: pink;
}


.rect4{
  transform: rotate(90deg);
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  left: 900px;
  top: 80px;
  
}

.rect4:hover {
  transform: rotate(45deg);
  background-color: pink;
}



h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}


.h1{
  height: 30px;
  width: 1750px;
  background-color: red;
  position: absolute;
  top: 560px;
  animation-name: h1;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-play-state: running;

}


@keyframes h1{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }

from{
    transform:translate3d(42px, -62px, -135px);
    transform: rotate(45deg);
  }
  to{
    transform:translate3d(20px, -62px, -135px);
    transform: rotate(-90deg);
  }
 
}


.h2{
  height: 30px;
  width: 1750px;
  background-color: red;
  position: absolute;
  top: 650px;
  animation-name: h2;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-play-state: running;

}


@keyframes h2{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }

from{
    transform:translate3d(42px, -62px, -135px);
    transform: rotate(45deg);
  }
  to{
    transform:translate3d(20px, -62px, -135px);
    transform: rotate(90deg);
  }
 
}




.h3{
  height: 30px;
  width: 1750px;
  background-color: red;
  position: absolute;
  top: 560px;
  left:-800px;
  animation-name: h3;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-play-state: running;

}


@keyframes h3{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }

from{
    transform:translate3d(42px, -62px, -135px);
    transform: rotate(45deg);
  }
  to{
    transform:translate3d(20px, -62px, -135px);
    transform: rotate(-90deg);
  }
 
}


.h4{
  height: 30px;
  width: 1750px;
  background-color: red;
  position: absolute;
  top: 650px;
  left:-800px;
  animation-name: h4;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-play-state: running;

}


@keyframes h4{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }

from{
    transform:translate3d(42px, -62px, -135px);
    transform: rotate(45deg);
  }
  to{
    transform:translate3d(20px, -62px, -135px);
    transform: rotate(90deg);
  }
 
}



